<p>error-page works!</p>
<ul>

    <li>
        <a routerLink="/auth/registro">
      Ir al registro
    </a>
    </li>

    <li>
        <a routerLink="/auth/login">
      Ir al login
    </a>
    </li>

    <li>
        <a routerLink="/facturas/listado">
      Ir al listado
    </a>
    </li>
    <li>
        <a routerLink="/facturas/agregar">
      Ir al agregar
    </a>
    </li>
    <li>
        <a routerLink="/facturas/buscar">
      Ir al buscar
    </a>
    </li>
    <li>
        <a routerLink="/facturas/factura">
      Ir al factura
    </a>
    </li>
    <li>
        <a routerLink="/facturas/home">
      Ir al home
    </a>
    </li>
</ul>